interactions:
- request:
    body: '{"query": "\n        query ($search: String, $page: Int, $perPage: Int)
      {\n            Page(page: $page, perPage: $perPage) {\n                media(search:
      $search, type: MANGA, sort: [POPULARITY_DESC, SCORE_DESC]) {\n                    id\n                    title
      {\n                        romaji\n                        english\n                        native\n                    }\n                    status\n                    startDate
      {\n                        year\n                        month\n                        day\n                    }\n                    endDate
      {\n                        year\n                        month\n                        day\n                    }\n                    chapters\n                    volumes\n                    coverImage
      {\n                        large\n                    }\n                    description(asHtml:
      false)\n                }\n            }\n        }\n        ", "variables":
      {"search": "Bonnouji", "page": 1, "perPage": 10}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graphql.anilist.co/
  response:
    body:
      string: '{"data":{"Page":{"media":[{"id":58226,"title":{"romaji":"Bonnouji","english":null,"native":"\u7169\u60a9\u5bfa"},"status":"FINISHED","startDate":{"year":2008,"month":4,"day":5},"endDate":{"year":2012,"month":10,"day":5},"chapters":36,"volumes":3,"coverImage":{"large":"https:\/\/s4.anilist.co\/file\/anilistcdn\/media\/manga\/cover\/medium\/nx58226-RJMupEnHIYXs.jpg"},"description":"Fate
        brings two people who live in the same condo together on a typical afternoon.
        Ozawa (26) has just broken up with her boyfriend of five years and was in
        the process of trying to rebuild her life when she meets Oyamada who lives
        a couple floors below her. He is somewhat of a loner although he does have
        a few friends and his room is cluttered with all the random stuff that his
        impulse shopper brother sends him. Ozawa takes an interest with all the things
        in his room and the two start a friendship that slowly turns into something
        more.<br><br>\n(Source: MangaHelpers)"}]}}}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
    status:
      code: 200
      message: OK
version: 1
